.campaign-login-modal {
    top: 150px;
}
.campaign-login-modal .modal-dialog {
    width: 350px;
    transition: none !important;
    transform: none !important;
}
#joinCampaignModal.lightbox, #withdrawCampaignModal.lightbox {
    background: rgba(0, 0, 0, 0.5);
}
#joinCampaignModal .modal-dialog, #withdrawCampaignModal .modal-dialog {
    width: 400px;
    margin: 120px auto;
}
#joinCampaignModal .modal-dialog td, #withdrawCampaignModal .modal-dialog td {
    padding: 5px;
}
#joinCampaignModal .modal-dialog input, #withdrawCampaignModal .modal-dialog input {
    border-radius: 25px;
}
.campaign-box-main {
    border-color: #FAAF78;
    border-width: 3px;
    box-shadow: 0px 1px 5px rgba(242, 203, 150, 0.8);
}
.campaign-box-main .campaign-sticker {
    text-align: center;
}
.campaign-detail-wrapper {
    padding: 10px 35px 20px 35px;
}
.campaign-detail-wrapper .campaign-title, .campaign-detail-wrapper .campaign-title-ended {
    font-size: 24px;
    font-weight: bold;
    display: block;
    color: #FFFFFF;
    margin: 0 -35px;
    padding: 10px 35px;
    border-radius: 0px;
}
.campaign-detail-wrapper .campaign-title {
    background: #FD7310;
}
.campaign-detail-wrapper .campaign-title-ended {
    background: #969AAE;
}
.campaign-detail-wrapper .campaign-details {
    margin: 10px 0;
}
.campaign-detail-wrapper .campaign-details li {
    width: 45%;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}
.campaign-detail-wrapper .campaign-details li img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.campaign-detail-wrapper .campaign-details table td {
    padding: 3px;
}
.campaign-detail-wrapper .campaign-join-confirm {
    margin: 10px 0;
    color: #FD7310;
    font-weight: bold;
    font-size: 18px;
}
.campaign-detail-wrapper li {
    clear: both;
    padding-top: 20px;
}
.campaign-detail-wrapper li:first-child > a > img {
    float: left;
}
.campaign-detail-wrapper div {
}
.campaign-detail-wrapper .post-like-num:after {
    content: ' 人都讚好 ';
}
.campaign-detail-wrapper .post-like-num {
    display: inline-block;
}
.campaign-detail-wrapper .post-like-num+a {
    padding: 0 15px;
}
.campaign-detail-wrapper li img {
}
.campaign-detail-wrapper p {
    padding-top: 10px;
    white-space: pre-line;
    line-height: 1.4;
}
.campaign-winners-wrapper {
    border: 3px solid #FFB2B2;
    border-radius: 15px;
    background-color: #FFF9F9;
    font-size: 15px;
    padding: 0;
    margin-bottom: 15px;
}
.campaign-winners-wrapper .campaign-winners-header {
    border-radius: 10px 10px 0 0;
    background-color: #FFB2B2;
    color: white;
    width: 100%;
    padding: 0px 15px 3px 15px;
}
.campaign-winners-wrapper .campaign-winners-header img {
    height: 35px;
    margin: 0;
    padding: 0;
}
.campaign-winners-wrapper .campaign-winners-list {
    padding: 10px 25px;
}
.campaign-winners-wrapper .campaign-winners-announcement {
    padding: 10px;
    font-size: 15px;
}
.campaign-winners-wrapper .campaign-winners-list li {
    padding: 0;
    width: 24%;
    display: inline-block;
}
.campaign-winners-wrapper .campaign-winners-announcement li {
    width: 49%;
    display: inline-block;
}

/* custom styles per campaign */
.campaign-container {
    width: 100%;
    font-size: 16px;
    background-image: url(../images/frontpage/campaign/campaign_bg_r.jpg);
}
.campaign-container div {
    float: none;
    padding: 0;
    position: relative;
    width: auto;
}
.campaign-container li img {
    max-width: 100%;
}
.campaign-container .sub-title {
    font-size: 1.8em;
    padding: 10px 15px;
    color: #ffffff;
}
.campaign-container .campaign-desc {
    padding: 20px;
    color: #FFFFFF;
    background-color: #480c0c;
}
.campaign-container .campaign-desc a {
}
.campaign-container .gift-items {

}
.campaign-container .gift-items .gift-item-pic,
.campaign-container .gift-items .gift-item-desc {
    border: 1px solid #a00a0c;
    vertical-align: top;
    display: inline-block;
    padding: 0;
}
.campaign-container .gift-items .gift-item-pic {
    background-color: #cb1305;
    text-align: center;
    width: 180px;
    height: 180px;    
}
.campaign-container .gift-items .gift-item-pic img {
    width: 180px;
    height: 180px;
    border-radius: 25px;
    border: 5px solid transparent;
}
.campaign-container .gift-items .gift-item-desc {
    background-color: #480c0c;
    width: 442px;
    height: 180px;
    padding: 20px 20px 0 20px;
    margin-left: -5px;
}
.campaign-container .gift-items .gift-item-note {
    width: 620px;
    text-align: center;
    vertical-align: top;
    background-color: #cb1305;
    color: #ffffff;
    line-height: 1.6em;
    padding: 20px;
}
#campaign-link {
    width: 65%;
    padding: 5px;
}
